html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    position: auto;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    color: #e3a244;
}

#skills {
    background-color: #83ba6b;
    color: white;
    padding: 10px;
    width: 53.5vmin;
}

td {
    display: inline-block;
    margin: 1vmin;
}

.remove {
    background-color: #d74f54;
    color: white;
}

#add {
    background-color: none;
    border: 3px solid #9bbb9b;
    font-size: 2vmin;
    color: #9bbb9b;
    width: 15vmin;
    height: 6.1vmin;
}

input {
    color: #9bbb9b;
    border: 3px solid #9bbb9b;
    width: 40vmin;
    height: 5vmin;

}